PORT=5000
MONGODB_URI=mongodb://abcd-school:abcd-school@ac-xzervdo-shard-00-00.j1zng1w.mongodb.net:27017,ac-xzervdo-shard-00-01.j1zng1w.mongodb.net:27017,ac-xzervdo-shard-00-02.j1zng1w.mongodb.net:27017/school?ssl=true&replicaSet=atlas-14ojkh-shard-0&authSource=admin&appName=Cluster0
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=56qhnShJQhHqx5B9roPLbFyM34Txnqlg
NODE_ENV=development
